/* Selector universal */
*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial;
}


/* Selector de ID */ 
#dimension{
    width: 900px;
    height: 1000px;
    background-color: #d49e23;
}

#cabecera{
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 48px;
    background-color: #d9bd1f;
}

#barraNav{
    height: 5%;
    color: white;
}

#seccion1{
    height: 30%;
    background-color: #b01a1c;
    border: 2px solid;
    border-color: #68531e;
    margin-bottom: 5px;
    padding: 5px;
}

#seccion2{
    height: 30%;
    background-color:  #dcc43c;
    border: 2px solid;
    border-color: #68531e;
    margin-top: 5px;
    padding: 5px;
}

#piePag{
    height: 10%;
    color: white;
    text-align: center;
    width: 100%;
}

/* Selector de etiqueta */
ul{
    text-align: center;
    display: block;
    align-items: center;
}

li{
    margin: 5px;
    display: inline;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

/* Selector de clase */
.encabezado{
    padding: 10px;
    display: flex;
    align-items: center;
}

.barraNavegacion{
    background-color: #713505;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

.barraNavegacion a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.pieNavegacion{
    background-color: #744607;
    padding: 15px;
    
}

.texto{
    text-align: justify;
}